.profissional-home {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main-content {
  display: flex;
  flex: 1;
  overflow: hidden; /* Oculta a rolagem */
}

.criar-profissional-panel {
  max-height: 80vh; /* Altura máxima do painel */
  width: 80%; /* Largura do painel */
  margin: 0 auto; /* Centraliza o painel horizontalmente */
  overflow-y: auto; /* Adiciona barra de rolagem vertical */
  padding: 20px; /* Espaçamento interno */
  background-color: #fff; /* Cor de fundo do painel */
  border: 1px solid #ccc; /* Borda do painel */
  border-radius: 8px; /* Bordas arredondadas */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra para dar profundidade */
}

form {
  display: flex; /* Usar flexbox para o layout do formulário */
  flex-wrap: wrap; /* Permitir que os campos se movam para a próxima linha */
  gap: 15px; /* Espaço entre os campos */
}

h4 {
  margin-bottom: 10px; /* Aumenta o espaço abaixo do título h4 */
  width: 100%; /* Garante que o título ocupe toda a largura */
}

input,
select { /* Estilizando tanto input quanto select */
  flex: 1 1 50%; /* Cada campo ocupa 50% do espaço disponível */
  margin-bottom: 15px; /* Adiciona espaço entre os campos */
  padding: 8px; /* Diminui o espaçamento interno dos campos */
  font-size: 14px; /* Diminui o tamanho da fonte */
  border: 1px solid #ccc; /* Borda padrão */
  border-radius: 4px; /* Bordas arredondadas */
  appearance: none; /* Remove o estilo padrão do select */
  background-color: #fff; /* Cor de fundo do select */
  width: 100%; /* Define a largura da combo box */
}

input:focus,
select:focus { /* Estilo ao focar no campo */
  border-color: #007bff; /* Cor da borda ao focar no campo */
  outline: none; /* Remove o contorno padrão */
}

button {
  padding: 10px; /* Espaçamento interno do botão */
  background-color: #007bff; /* Cor de fundo do botão */
  color: #fff; /* Cor do texto do botão */
  border: none; /* Remove a borda padrão */
  border-radius: 5px; /* Bordas arredondadas */
  font-size: 16px; /* Tamanho da fonte */
  cursor: pointer; /* Muda o cursor para indicar que é clicável */
  transition: background-color 0.3s; /* Transição suave para a cor de fundo */
}

button:hover {
  background-color: #0056b3; /* Cor de fundo ao passar o mouse */
}

/* Estilo para os títulos do formulário */
h2 {
  margin-bottom: 20px; /* Espaço abaixo do título */
  font-size: 24px; /* Tamanho do título */
  color: #333; /* Cor do título */
}

/* Estilo para a seção de gráficos */
.charts-container {
  display: flex; /* Usar flexbox para alinhar os cards lado a lado */
  flex-wrap: wrap; /* Permitir que os cards se movam para a próxima linha se não houver espaço suficiente */
  margin-bottom: 20px; /* Espaço entre as seções */
}

.chart {
  flex: 1 1 10%; /* Cada card ocupa 30% do espaço disponível */
  margin: 10px; /* Margem entre os cards */
  padding: 10px; /* Espaçamento interno do card */
  border: 1px solid #ccc; /* Borda do card */
  border-radius: 15px; /* Bordas arredondadas */
  background-color: #f9f9f9; /* Cor de fundo do card */
  cursor: pointer; /* Muda o cursor para indicar que é clicável */
  transition: transform 0.2s; /* Transição suave ao passar o mouse */
}

.chart:hover {
  transform: scale(1.05); /* Efeito de zoom ao passar o mouse */
}

.icon {
  margin-right: 5px; /* Espaço entre o ícone e o título */
  font-size: 18px; /* Tamanho do ícone */
  color: #007bff; /* Cor do ícone */
}

table {
  width: 100%; /* Define a largura da tabela */
  border-collapse: collapse; /* Remove os espaços entre as células */
  margin-top: 20px; /* Espaço acima da tabela */
}

thead {
  background-color: #007bff; /* Cor de fundo do cabeçalho */
  color: #fff; /* Cor do texto do cabeçalho */
}

th, td {
  padding: 10px; /* Espaçamento interno das células */
  border: 1px solid #ccc; /* Borda das células */
  text-align: left; /* Alinhamento do texto */
}

tbody tr:nth-child(even) {
  background-color: #f9f9f9; /* Cor de fundo das linhas pares */
}

tbody tr:hover {
  background-color: #f1f1f1; /* Cor de fundo ao passar o mouse */
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination button {
  padding: 5px 8px; /* Diminui o espaçamento interno dos botões de paginação */
  margin: 0 5px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.pagination button:hover {
  background-color: #0056b3;
}

/* Estilo para o container de filtro */
.filter-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  margin-left: 20px; /* Adiciona espaço entre o botão Anterior e o filtro */
}

.filter-container label {
  margin-right: 10px;
}

.filter-container input {
  width: 120px; /* Define a largura do input de data */
  margin-right: 10px;
}

.filter-container button {
  padding: 5px 8px; /* Diminui o espaçamento interno do botão Pesquisar */
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.filter-container button:hover {
  background-color: #0056b3;
}

/* Estilo para o botão Anterior */
button.anterior {
  width: 100px; /* Define a largura do botão Anterior */
}

.date-open {
  background-color: green !important;
  color: white !important;
}

.date-other {
  background-color: red !important;
  color: white !important;
}